<div>
  <div>
    <h1>
      Photo #<%= @the_photo.id %> details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_photo.image %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>
    </dl>
  </div>
 <% user_like = Like.where({ :fan_id => current_user.id, :photo_id => @the_photo.id }).at(0) %>

<% if user_like.nil? %>
  <%= button_to "Like", "/photos/#{@the_photo.id}", { :method => :post, :params => { :photo_id => @the_photo.id }, :class => "like-button" } %>
<% else %>
  <%= button_to "Unlike", "/photos/#{@the_photo.id}", { :method => :delete, :class => "unlike-button" } %>
<% end %>
</div>

<% if @the_photo.owner_id == current_user.id %>
  <%= button_to "Delete Photo", "/photos/#{@the_photo.id}", { :method => :delete, :data => { :confirm => "Are you sure?" } } %>
<% end %>

<h2>Comments:</h2>
<ul>
  <% @photo_comments.each do |comment| %>
    <% the_user = User.where({ :id => comment.author_id }).at(0) %>
    <li>
      <strong><%= the_user.username %>:</strong> <%= comment.body %>
    </li>
  <% end %>
</ul>

<hr>


<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption" value="<%= @the_photo.caption %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>

<hr>

<h3>Add a Comment:</h3>
<%= form_with url: "/comments", method: :post do %>
  <div>
    <label for="body">Comment:</label>
    <textarea name="query_body" id="body"></textarea>
  </div>
  <%= hidden_field_tag :photo_id, @the_photo.id %>
  <div>
    <%= submit_tag "Post Comment" %>
  </div>
<% end %>
